* {
    margin:0;
    padding:0;
    font-family: 'Open Sans', sans-serif;
}
.input {
    transition: border 0.2s ease-in-out;
    min-width: 280px
}
.input:focus+.label,
.input:active+.label
 {
    font-size: .75rem;
    transition: all 0.2s ease-out;
    top: -0.9rem;
    background-color: #fff;
    color: teal;
    padding: 0 10px 0 10px;
    margin: 0 10px 0 10px;
}
.input.filled+.label{
    display: none;
    color: white;
}
.label {
    transition: all 0.2s ease-out;
    top: 0.4rem;
    left: 0;
}

.input:not(:placeholder-shown).input:not(:focus) ~ .label {
    top: -0.9rem;
    font-size: .75rem;
    transition: all 0.2s ease-out;
    top: -0.9rem;
    background-color: #fff;
    color: teal;
    padding: 0 10px 0 10px;
    margin: 0 10px 0 10px;
  /* font-size: 0.8rem; */
  /* left: 0.8rem; */
}





/* 
1. When the input is in the focus state
reduce the size of the label and move upwards 

2. Keep label state when content is in input field 
*/
